.navbar {
  background-color: #343a40;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00bcd4;
}
