.product-card {
  width: 60%;
  background: #fff;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.06);
  transition: transform .2s ease, box-shadow .2s ease;
}

.product-card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 14px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  background: #fafafa;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Title */
.product-card h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 6px;
  height: 40px;
  overflow: hidden;
}

/* Price */
.product-card p {
  color: #b12704;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 12px;
}

/* Buttons */
.product-card button {
  width: 100%;
  padding: 10px 0;
  background: #ffd814;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.product-card button:hover {
  background: #f3c707;
}
