.login-form {
  width: 340px;
  background: #fff;
  padding: 28px;
  border-radius: 14px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 10px rgba(0,0,0,0.12);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 18px;
}

.login-form label {
  font-weight: 600;
  display: block;
  margin: 10px 0 5px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
  margin-bottom: 12px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background: #ffd814;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.login-form button:hover {
  background: #f3c507;
}
